.DS_Store
.idea/*
.vscode/*

identifier.sqlite
default.etcd

*.exe
*.exe~
main.exe

plugins/
/smartassistant
vendor

/sadb.db
app.yaml
smartassistant.yaml
app.test.yaml

fluentd.conf
data/*
backup/*
temp/*
run/*
images/*

log/*